{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Bondiz - realtime tweet watcher {% endblock %}

{% block navbar %}
            
{% endblock %}

{% block content %}


	<div class="container logo text-center">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<h1><span class="logo-text" style="font-family: 'Cherry Swash', cursive;color:#cc1111">Bond</span><span class="logo-text" style="font-family: 'Cherry Swash', cursive;color:#1111cc">iz</span></h1>
			</div>
		</div>	
      <div class="row">
      	<div class="col-md-offset-4 col-lg-4">		         
	          <h3><strong>WOW that's great one more time!</strong></h3>
      	</div>
      </div><!-- /.row -->
      <div class="row">
      	<hr>
      </div><!-- /.row -->	 	      
    </div> 

	<div class="dashboard">
	    <div class="container">	   	      	     
	      <div class="row">
	      	<div class="col-md-offset-1 col-md-10">		         
		          <h2><strong><span style="color:#cc1111">Bondiz puts a 24/7 watcher on a Twitter user of your choice</span></strong></h2>
	      	</div>
	      </div><!-- /.row -->	      
	      <div class="row">
	  			<div class="input-group input-group-lg col-sm-4 col-sm-offset-4">
  					<span class="input-group-addon">@</span>
  					<input data-toggle="tooltip" title="Twitter username" type="text" class="form-control" id="username" placeholder="Twitter Username">
	  			</div>		      
	      </div><!-- /.row -->	
	      <div class="row">
	      	<div class="col-md-offset-1 col-md-10">		         
		          <h2><strong><span style="color:#1111cc"> and emails you a "heads up" email as soon as he tweets</span></strong></h2>
	      	</div>
	      </div><!-- /.row -->	      
	      <div class="row">
	  			<div class="input-group input-group-lg col-xs-12 col-sm-4 col-sm-offset-4">	      			
	      			<input data-toggle="tooltip" title="a valid email address" type="email" class="form-control" id="email" placeholder="GOD@heaven.com">
	  			</div>		      
	      </div><!-- /.row -->	
	      <hr/>
	      <div class="row">
			 	<div class="col-sm-offset-5 col-sm-2 text-center">
					<btn id="go" type="button" class="btn btn-default btn-lg btn-block"><strong>GO!!!</strong></btn>		
	  			</div>   			 		  
	      </div><!-- /.row -->	      	       	          	    
	      	      
				    <!--<p>Bondiz uses Twitter lists to manage the tweeters you want to bond with.</p>
				    <p>Please <a href="https://www.twitter.com/{{ bondi.twitter_screen_name }}/lists" target="_blank">create a list</a> in your Twitter account.</p>
				    <p>{{ bondiList.realtime_keywords_RT_flag }} {{ bondi.twitter_screen_name }}</p>-->	      	
		</div>		
	</div>
	
	<div class="modal fade" id="OKModal" tabindex="-1" role="dialog" aria-labelledby="myOKModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myOKModalLabel">Cool!</h4>
	      </div>
	      <div class="modal-body">
	        <p>Now just wait for the "heads up" email</p>
	        <p>and craft up to five Bondiz at a time</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
	
	<div class="modal fade" id="91Modal" tabindex="-1" role="dialog" aria-labelledby="my91ModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="my91ModalLabel">oops&hellip;</h4>
	      </div>
	      <div class="modal-body">
	        <p>This Twitter username is already monitored for this email address</p>
	        <p>Please choose another username or email address</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
	
	<div class="modal fade" id="92Modal" tabindex="-1" role="dialog" aria-labelledby="my92ModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="my92ModalLabel">ooops&hellip;</h4>
	      </div>
	      <div class="modal-body">
	        <p>It seems that the Twitter username you chose doesn't exist</p>
	        <p>Please make sure you enter an existing Twitter username<br> (the one with the "@")</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->			
	
	<div class="modal fade" id="93Modal" tabindex="-1" role="dialog" aria-labelledby="my93ModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="my93ModalLabel">ooops&hellip;</h4>
	      </div>
	      <div class="modal-body">
	        <p>It seems that you are a massive Bondiz user - that's great!</p>
	        <p>Right now we allow up to five Bondiz per email, sorry &#9786;</p>
	        <p>Please use another email account or wait for previous Bondiz to tweet</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->		
{% endblock content %}

{% block footer %}
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">                 
        <p class="navbar-text">&copy; 2013 Bondiz. All rights reserved &middot; <a href="mailto:feedback@bondiz.com?subject=feedback" class="navbar-link">feedback</a></p>       
    </div>
  </div>  
{% endblock footer %}