{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Bondiz - 24/7 Twitter agent {% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	
		<div class="container logo text-center">
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<h1><span class="logo-text" style="font-family: 'Cherry Swash', cursive;color:#cc1111">Bond</span><span class="logo-text" style="font-family: 'Cherry Swash', cursive;color:#1111cc">iz</span></h1>
				</div>
			</div>	
	      <div class="row">
	      	<div class="col-md-offset-3 col-lg-2">		         
		          <h3>awareness</h3>
	      	</div>
	      	<div class="col-lg-2">		         
		          <h3>engagement</h3>
	      	</div>	      	
	      	<div class="col-lg-2">		         
		          <h3>bonding</h3>
	      	</div>	
	      </div><!-- /.row -->
	      <div class="row">
	      	<hr>
	      </div><!-- /.row -->	 	      
	    </div> 
	    
	    <div class="container marketing text-center">
	      <div class="row">
	      	<div class="col-md-offset-1 col-lg-10">		         
		          <h3><strong>Bondiz is a 24/7 Twitter agent that notifies you when it's time to take action</strong></h3>
		          <h3><span style="color:#cc1111">You control the triggers and the timing</span> <span style="color:#1111cc">we monitor the timeline</span></h3>
	      	</div>
	      </div><!-- /.row -->	
	      <div class="row">
	      		<div class="col-md-offset-3 col-lg-6">	
	      			<a href="/signup" type="button" class="btn btn-default btn-lg btn-block"><strong>LOG IN</strong></a>
	      		</div>
	      </div><!-- /.row -->	
	      <div class="row">
	      	<hr>
	      </div><!-- /.row -->	  	      
	      <div class="row">
	      	<div class="col-md-offset-4 col-lg-4">		         
		          <h2>how people use Bondiz?</h2>
	      	</div>
	      </div><!-- /.row -->	  
	      <div class="row">
	      	<div class="col-md-offset-2 col-lg-2">		         
		          <h3><span style="color:#cc1111">recruiters</span> use Bondiz to forge genuine relationships with <span style="color:#1111cc">talents</span></h3>
	      	</div>
	      	<div class="col-md-offset-1 col-lg-2">		         
		          <h3><span style="color:#cc1111">professionals</span> use Bondiz to enrich their interactions with <span style="color:#1111cc">colleagues</span></h3>
	      	</div>	      	
	      	<div class="col-md-offset-1 col-lg-2">		         
		          <h3><span style="color:#cc1111">fans</span> use Bondiz to stay connected to their favorite <span style="color:#1111cc">celebrities</span></h3>
	      	</div>	
	      </div><!-- /.row -->	      
		</div>		

{% endblock %}