{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Thanks! {% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

		<div class="container logo text-center">
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<h1><span class="logo-text" style="font-family: 'Cherry Swash', cursive;color:#cc1111">Bond</span><span class="logo-text" style="font-family: 'Cherry Swash', cursive;color:#1111cc">iz</span></h1>
				</div>
			</div>	
	      <div class="row">
	      	<div class="col-md-offset-3 col-lg-2">		         
		          <h3>awareness</h3>
	      	</div>
	      	<div class="col-lg-2">		         
		          <h3>engagement</h3>
	      	</div>	      	
	      	<div class="col-lg-2">		         
		          <h3>bonding</h3>
	      	</div>	
	      </div><!-- /.row -->
	      <div class="row">
	      	<hr>
	      </div><!-- /.row -->	 	      
	    </div> 

    <div class="container">    
		<div class=" col-md-offset-2 col-md-8 text-left">
		  <div class="container">
		    <h1>Great!</h1>
		    <p>We will notify you as soon as we are ready</p>
		    <p>Please help us to spread the word by <a href="https://twitter.com/intent/tweet?text=guys+check+out+@bondiz+my+new+24/7+twitter+agent+at+www.bondiz.com">tweeting about us</a></p>
		  </div>
		</div>	
	</div><!-- /.container -->	
{% endblock content %}