{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Thanks! {% endblock %}
{% block content %}
    <div class="container">    
		<div class="jumbotron col-md-offset-2 col-md-8">
		  <div class="container">
		    <h1>Great!</h1>
		    <p>We will notify you as soon as we are ready</p>
		    <p>Please help us to spread the word by <a href="https://twitter.com/intent/tweet?text=@bondiz+New+promising+app+to+use+twitter+for+recruiting+-+www.bondiz.com+-+I+gave+it+a+try%2C+and+so+should+you">tweeting about us</a></p>
		  </div>
		</div>	
	</div><!-- /.container -->	
{% endblock content %}