#alert_email, #alert_tweet_keyword1, #alert_tweet_keyword2, #alert_tweet_keyword3, #alert_tweet_keyword4, #alert_tweet_keyword5 {
	display: none;
}

body * {
  font-family: 'Open Sans';
  font-weight: 100; 
}

body { 
	
  opacity: 1;
  min-height: 600px;
  
  padding-top: 10px; 
  font-size: 16px;
  
  background: white;
  
  min-height: 900px;
  color: #434a54;  
}

.logo .row{
	margin-bottom: 1em;
}

.logo-text {
	border-top-style: solid;
	border-top-color: #1111cc;
	border-top-width: 0.1em;
	border-bottom-style: solid;
 	border-bottom-color: #cc1111;
	border-bottom-width: 0.1em; 
	padding: 0;
	margin: 0;
	font-size: 2.5em;
}

strong {
	font-weight: bold;
}

.marketing .row{
	margin-bottom: 1em;
}

.marketing p{
	font-size: 2em;
	color: #1C1C1C;
}

.btn-default {
	background-color: #fff;
	border-color: #ccc;
	border-width: 0.2em;
}

.navbar-brand {
	font-size: 34px;
}

.jumbotron {
  font-stretch: 1px;
  word-spacing: 0.2em;	
  opacity: 1;
  padding-top: 10px;
  margin-top: 40px;
  border-width:2px;
  border-color: #3F8FD2;  
}

.jumbotron h1{
	font-size: 2em;
}

.dashboard {
	margin: 10px 10px 50px 10px;
}

.dashboard h1{
	text-align: center;
	font-size: 2em;
	color: #1C1C1C;	
}

.dashboard h2{
	text-align: center;
	font-size: 1.6em;
	color: #1C1C1C;	
	padding: 0px 0px 10px 0px;
	
}

.dashboard h3{
	text-align: center;
	font-size: 1.3em;
	color: #1C1C1C;	
	padding: 0px 0px 10px 0px;
	text-decoration: underline;
}

.dashboard p{
	
	font-size: 1em;
	color: #1C1C1C;
}


.color-text {
	color: #3f8fd2;
	font-weight: bold;
}

.navbar-fixed-bottom {
	background: none;
}

.form-signin {
	margin-top: 40px;
}

.form-signin {
	color: #AAAAAA;
}

.content {
	text-align: center;
	min-height: 450px;
	padding-top: 30px; 
}

.btn {
	margin-top: 5px;
}

