body * {
  font-family: 'Open Sans';
  font-weight: 100; 
}

body { 
	
  opacity: 1;
  
  padding-top: 10px; 
  font-size: 16px;
  
  background: white;
  
  /*min-height: 800px;*/ 
  color: #434a54; 
  
  padding-bottom: 10px; 
}

.row {
	margin-bottom: 0.1em;
}

.logo .row{
	margin-bottom: 0.1em;
}

.logo-text {
	border-top-style: solid;
	border-top-color: #1111cc;
	border-top-width: 0.1em;
	border-bottom-style: solid;
 	border-bottom-color: #cc1111;
	border-bottom-width: 0.1em; 
	padding: 0;
	margin: 0;
	font-size: 2.5em;
}

strong {
	font-weight: bold;
}

.bad-input {
	-webkit-box-shadow: 0 0 10px rgba(255, 50, 50, 0.9);
	-moz-box-shadow: 0 0 10px rgba(255, 50, 50, 0.9);
	box-shadow: 0 0 10px rgba(255, 50, 50, 0.9);
}

.btn-default {
	border-color: #ccc;
	border-width: 0.2em;
	font-family: 'Open Sans';
	font-size: 14px;
	background-color: #ccf;	
}

#saveChanges{		
	font-size: 16px;
}

.navbar-brand {
	font-size: 34px;
}

.dashboard {
	margin: 0;
}

.dashboard h1{
	text-align: center;
	font-size: 2em;
	color: #1C1C1C;	
}

.dashboard h2{
	text-align: center;
	font-size: 1.6em;
	color: #1C1C1C;	
	padding: 0px 0px 7px 0px;
	
}

.dashboard h3{
	text-align: center;
	font-size: 1.3em;
	color: #1C1C1C;	
	padding: 0px 0px 7px 0px;
}

.dashboard p{
	font-size: 1em;
	color: #1C1C1C;
}

.color-text {
	color: #3f8fd2;
	font-weight: bold;
}

#page-guide {
	font-weight: 600;
	cursor: pointer;
}

.navbar-default .navbar-link {
	font-weight: 600;
}

.content {
	text-align: center;
	/*min-height: 450px;*/
	padding-top: 10px; 
}

.btn {
	margin-top: 5px;
}

/* Footer stuff */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #fff;
}
